/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.1em;

    height: 100vh;

    display: grid;
    grid-template-areas: 
    'nav header header'
    'nav content sidebar'
    ;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
  }


  .header, .nav, .content, .sidebar{
    background-color: steelblue;
    padding: 20px;
    border: 2px solid skyblue;

  }

  .header{
    grid-area: header;

  }

  .nav{
    grid-area: nav;
  }

  .content{
    grid-area: content;
  }

  .sidebar{
    grid-area: sidebar;
  }

  li{
    list-style-type: none;
  }

  .dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .dashboard>p{
    font-size: 30px;
    font-weight: bold;
  }
  .dashboard > img{
    width: 20%;
  }

  li{
    display: flex;
    cursor:pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
  }

  .settings-panel{
    margin-top: 100px;
  }

  .top{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .top-left{
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }

  .top-left>img{
    width: 40px;
  }

  .top-left>input{
    background-color: peru;
    border : 1px solid chocolate;
    border-radius: 0.8rem;
    height: 30px;
    width: 30vw;
  }


  .top-right{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    font-weight: bold;
    gap: 5px;
  }

  .top-right>img{
    width: 70px;
    border-radius: 50%;
  }

  .bottom{
    display: flex;
  }

  .bottom-left{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
  }

  .bottom-left > img{
    display: grid;
    justify-content: center;
    width: 100px;
    border-radius: 50%;
    padding-right: 7px;
  }

  

  .profile-text > .small{
    font-size: 20px;
    color: rgb(209, 195, 195);
  }

  .profile-text > .profile-name{
    font-size: 30px;
    font-weight: bolder;
  }

  .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bottom-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    padding: 40px;
    
  }

  button{
    font-size: 30px;
    background-color: peru;
    border: 1px solid chocolate;
    border-radius: 0.9em;
    padding: 10px;
  }

  .content{
    overflow:scroll;
  }

  .content > .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-grid{
    border: none;
    background-color: rgb(63, 141, 82);
    margin: 20px;
    padding: 20px;
    border-radius: 0.9rem;
    border-left: 10px solid black;
  }

  @media screen and (width < 1200px) {
    .content > .projects{
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  .sidebar{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
  }
 
  .announcements{
    margin-bottom: 40px;
  }
  .announcements-blocks{
    border: none;
    background-color: rgb(63, 141, 82);
    border-radius: 0.9rem;
    padding: 10px;
    border-bottom: 4px solid black;
  }

  .announcements-blocks > .text{
    font-size: 10px;
  }

  .trending{

  }

  .trending-block{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(63, 141, 82);
    border-radius: 0.9rem;
    padding: 10px;
    border-bottom: 4px solid black;
  }

  .trending-block > img{
    border-radius: 50%;
    width: 50px;
  }